

.post {
    height: fit-content;
    width: 33%;
    border-radius: .5vh;
    border-width: 0.01%;
    border-color: black;
    border-style:solid;
    background-color: #2f4f4f;

    padding: .5%;
}

.message {
    height: fit-content;
    border-radius: .5vh;
    border-width: 0.01%;
    border-color: black;
    border-style:hidden;
    background-color: #4a8383;
    white-space: pre-line;

    padding: 1%;
}

.information {
    display:flex;
    justify-content: space-between;
}


.comments {
    height: fit-content;
    border-radius: 1vh;
    border-width: 0.01%;
    border-color: black;
    border-style:hidden;
    background-color: #4a8383;

    justify-content: space-between;
    
    margin-top: 1%;
}